<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.CognitoIdentity" version="3.7.300.74" />
  <package id="AWSSDK.CognitoIdentityProvider" version="3.7.402.13" manuallyInstalled="true" />
  <package id="AWSSDK.Core" version="3.7.400.16" manuallyInstalled="true" />
  <package id="AWSSDK.DynamoDBv2" version="3.7.400.16" manuallyInstalled="true" />
  <package id="AWSSDK.S3" version="3.7.402.7" manuallyInstalled="true" />
  <package id="AWSSDK.SecurityToken" version="3.7.300.75" />
  <package id="Amazon.Extensions.CognitoAuthentication" version="2.5.5" manuallyInstalled="true" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.0" />
</packages>